<link rel="stylesheet" href="/static/footerBar.css">
<div class="background-img-div">
    <div class="set-all-div">
        <div class="content-row">
            <div class="content-column">
                <div class="content-column-1-outer">
                    <div class="content-column-1-inner">
                        Quick Links
                    </div>
                </div>
                <div class="content-column-2-outer">
                    <div class="content-column-2-outer">
                        <a href="{% url 'home' %}">HOME</a>
                    </div>
                </div>
                
            
            <div class="content-column-2-outer">
                <div class="content-column-2-outer">
                    <a href="{% url 'services' %}">SERVICES</a>
                </div>
            </div>
            <div class="content-column-2-outer">
                <div class="content-column-2-outer">
                    <a href="{% url 'feedback' %}">FEEDBACK</a>
                </div>
            </div>
            <div class="content-column-2-outer">
                <div class="content-column-2-outer">
                    <a href="{% url 'employee' %}">EMPLOYEE</a>
                </div>
            </div>
        </div>




            <div class="content-column-2">
                <div class="content-column-1-outer-1">
                    <div class="content-column-1-inner-1">
                        Services
                    </div>
                </div>
                <div class="content-column-2-outer-1">
                    <div class="content-column-2-outer-1">
                        TV REPAIR
                    </div>
                </div>
                <div class="content-column-2-outer-1">
                    <div class="content-column-2-outer-1">
                        GEYSER REPAIR
                    </div>
                </div>
                <div class="content-column-2-outer-1">
                    <div class="content-column-2-outer-1">
                        AC REPAIR
                    </div>
                </div>
                <div class="content-column-2-outer-1">
                    <div class="content-column-2-outer-1">
                        AC INSTALLATION
                    </div>
                </div>
                <div class="content-column-2-outer-1">
                    <div class="content-column-2-outer-1">
                        ELECTRICAL
                    </div>
                </div>
                <div class="content-column-2-outer-1">
                    <div class="content-column-2-outer-1">
                        PLUMBING
                    </div>
                </div>
            </div>




            <div class="content-column-2">
                <div class="content-column-1-outer-1">
                    <div class="content-column-1-inner-1">
                        What we offer
                    </div>
                </div>
                <div class="content-column-2-outer-1">
                    <div class="content-column-2-outer-1">
                        With in 24hr service
                    </div>
                </div>
                <div class="content-column-2-outer-1">
                    <div class="content-column-2-outer-1">
                        Quality Service
                    </div>
                </div>
                <div class="content-column-2-outer-1">
                    <div class="content-column-2-outer-1">
                        Reasonable Pricing
                    </div>
                </div>
            </div>




            <div class="content-column-2">
                <div class="content-column-1-outer-1">
                    <div class="content-column-1-inner-1">
                        GET IN TOUCH
                    </div>
                </div>
                <div class="add-row">
                    <div class="add-loc-outer">
                        <div class="add-loc-inner">
                            <img src="/static/footer/location.png" alt="">
                        </div>
                    </div>
                    <div class="add-matter-outer">
                        <div class="add-matter-inner">
                            <p>ONLINE HOME SERVICE COMPANY,</p>
                                <p> Tadepaligudem,West Godavari Dist., </p>
                                <p>Andhra Pradesh., India-534001</p>
                        </div>
                    </div>
                </div>
                <div class="add-row">
                    <div class="add-loc-outer">
                        <div class="add-loc-inner">
                            <img src="/static/footer/telephone.png" alt="">
                        </div>
                    </div>
                    <div class="add-matter-outer">
                        <div class="add-matter-inner">
                            <p>1234567890</p>
                        </div>
                    </div>
                </div>
                <div class="add-row">
                    <div class="add-loc-outer">
                        <div class="add-loc-inner">
                            <img src="/static/footer/gmail.png" alt="">
                        </div>
                    </div>
                    <div class="add-matter-outer">
                        <div class="add-matter-inner">
                            <p>onlinehomeservices117@gmail.com</p>
                        </div>
                    </div>
                </div>


            </div>
            

        </div>
    </div>
    
    <div class="last">
        <a href="{% url 'home' %}">© 2023 Online Home Services Pvt Ltd. All rights reserved.</a>
    </div>
</div>

