{% extends 'main.html' %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/im7.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/im2.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="services2">
  <div class="services3">
    <p>Online Home Service System</p>
  </div>
  <div class="services4">
    <p>We offering all home services</p>
  </div>
  <div class="services5">
    <p>We giving many services in different sectors and different purposes</p>
  </div>
</div>
<div class="outer-box">
  <div class="inner-box">
    <div class="column-1">

      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/tv.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>TV</p>
          </div>
          </div>
        </div>
      </div>

      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/carpentry.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>CARPENTRY</p>
          </div>
          </div>
        </div>
      </div>



      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/landurey.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>LAUNDERY</p>
          </div>
          </div>
        </div>
      </div>

    </div>





    <div class="column-1">

      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/geyser.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>GEYSER</p>
          </div>
          </div>
        </div>
      </div>

      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/air-conditioner1.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>AC REPAIR</p>
          </div>
          </div>
        </div>
      </div>



      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/electrical.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>ELECTRICAL</p>
          </div>
          </div>
        </div>
      </div>

    </div>





    <div class="column-1">

      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/refrigetor.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>REFRIGITER</p>
          </div>
          </div>
        </div>
      </div>
      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/ac-gas-refill.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>AC GAS REFILL</p>
          </div>
          </div>
        </div>
      </div>
      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/plumbing.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>PLUMBING</p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-1">
      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/washing machine.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>WACHING MACHINE</p>
          </div>
          </div>
        </div>
      </div>
      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/ac-wet-serving.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>AC  WET  SERVICING</p>
          </div>
          </div>
        </div>
      </div>
      <div class="column-1-context-1">
        <div class="content-1-inner">
          <div class="content-1-outer-pic">
            <div class="content-1-inner-pic">
              <img src="/static/homes/ac-installation.png" alt="">
            </div>
          </div>
          <div class="content-1-outer-matter">
            <div class="content-1-inner-matter">
              <p>AC INSTALLATION</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="outer-div">
  <div class="inner-div-part1">
    <div class="part1">
      <div class="part1-details">
        What we offer
      </div>
      <div class="part1-boxes">

        <div class="box1-outer">
          <div class="box1-inner">
            <div class="box1-img-outer">
              <div class="box1-img-inner">
                <img src="/static/clock.png" alt="">
              </div>
            </div>
            <div class="box1-content-outer">
              <div class="box1-content-inner">
                With in 24hr service
              </div>
            </div>
          </div>
        </div>
        


        <div class="box1-outer">
          <div class="box1-inner">
            <div class="box1-img-outer">
              <div class="box1-img-inner">
                <img src="/static/homes/quality-service.png" alt="">
              </div>
            </div>
            <div class="box1-content-outer">
              <div class="box1-content-inner">
                Quality Service
              </div>
            </div>
          </div>
        </div>





        <div class="box1-outer">
          <div class="box1-inner">
            <div class="box1-img-outer">
              <div class="box1-img-inner">
                <img src="/static/dollar-currency-symbol.png" alt="">
              </div>
            </div>
            <div class="box1-content-outer">
              <div class="box1-content-inner">
                Reasonable Pricing
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="inner-div-part2">
    <div class="inner-div-part2-content">
      <div class="inner-div-part2-content-img-outer">
        <div class="inner-div-part2-content-img-inner">
          <img src="/static/top-10-on-demand-home-service-apps-to-use-in-2023.jpg" alt="">
        </div>
      </div>
      <div class="inner-div-part2-content-matter-outer">
        <div class="inner-div-part2-content-matter-inner">
          <div class="line-1">
            WHO WE ARE
          </div>
          <div class="line-2">
            ONLINE HOME SERVICE SYSTEM
          </div>
          <div class="line-3">
            We Can Take Your Service To Your Home.
          </div>
          <div class="line-4">
            <p>You'll need to look for a home repair professional for some time. </p>
          </div>
          <div class="line-5">
            <ul>
              <li>Do not fear; we will offer</li>
              <li>We will give service within 24 hours.</li>
              <li>At a lower cost</li>
              </ul>
          </div>
          <div class="button-register">
            <a href="{% url 'register' %}">
              <button class="button-design">GET STARTED NOW</button>
            </a>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}